In [ ]:
# length of a tuple

my_tuple = (2, 123.4567, 10000, 12345.67)
print(len(my_tuple))

4

In [ ]:
# check the type of a tuple

my_tuple = ('a', 'b', 'c', 'd')
print(type(my_tuple))

<class 'tuple'>

In [ ]:
# create a tuple with one element

my_tuple = (8)
print(type(my_tuple))

<class 'int'>

In [ ]:
# create a tuple with one element (correct way, with trailing comma)

my_tuple = (8,)
print(type(my_tuple))

<class 'tuple'>

In [ ]:
# negative indexing

my_tuple = (2, 3, 5, 7)
print(my_tuple[-2])

5

In [ ]:
# subsetting tuples

my_tuple = (2, 3, 5, 7, 11, 13, 17)
print(my_tuple[2:5])

(5, 7, 11)

In [ ]:
# concatenating tuples

my_tuple = (2, 3, 5, 7, 11, 13, 17)
my_list = list(my_tuple)
my_list[1] = 4
my_tuple = tuple(my_list)
print(my_tuple)

(2, 4, 5, 7, 11, 13, 17)

In [ ]:
# nested tuples

my_tuple = ((1, 3, 2), ('apple', 'banana', 'cherry'), (True, False))
print(my_tuple[1][1])
print(my_tuple[2][1])

banana
False